{{#each this}}
<div class="container__box">
    <h1 class="container__title">{{this.name}}</h1>
    <div class="container__body">
        <div class="container__data">
            <p class="container__caption">
                Capital:
                <span class="container__value">{{this.capital}}</span>
            </p>
            <p class="container__caption">
                Population:
                <span class="container__value">{{this.population}}</span>
            </p>
            <div class="container__caption">
                Languages:
                <ul class="container__list">
                    {{#each this.languages}}
                    <li class="container__item">{{this.name}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <img src="{{this.flag}}" alt="flag" class="container__img" />
    </div>
</div>
{{/each}}